<!DOCTYPE html>
<html>
  <head>
    <title>Pupfinder Pet Adoption</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag 'favicon.ico' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap" rel="stylesheet">
    
    <script type="text/javascript">
      window.logoURL = "<%= image_url('pupfinder_logo.png') %>";
      window.article1URL = "<%= image_url('article1.jpg') %>";
      window.article2URL = "<%= image_url('article2.jpg') %>";
      window.article3URL = "<%= image_url('article3.jpg') %>";
      window.article4URL = "<%= image_url('article4.jpg') %>";
      window.img1URL = "<%= image_url('img1.jpg') %>";
      window.img2URL = "<%= image_url('img2.jpg') %>";
    </script>
  
  </head>

  <body>
    <%= yield %>
  </body>
</html>
